<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header :: header}"></div>
<body>
    <div th:insert="~{navigation :: navbar}"></div>
    <div class="container">

        <form method="get" th:href="@{/books}">
            <select id="currency" name="sort" class="form-select" style="width: min-content">
                <option th:each="column : ${columnNames}" th:value="${column}" th:text="${column}"></option>
            </select>
            <button type="submit" class="btn btn-primary">Sort</button>

            <table class="table table-border">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Publication_Year</th>
                    <th scope="col">Take Book</th>
                </tr>
                </thead>
                <tbody>
                    <form th:method="post" th:action="@{/report}">
                        <tr th:each="book : ${freeBooks}">
                            <td th:text="${book.bookId}">Id</td>
                            <td th:text="${book.title}">Title</td>
                            <td th:text="${book.author.authorName}">Author</td>
                            <td th:text="${book.genre}">Genre</td>
                            <td th:text="${book.publicationYear}">Publication_Year</td>
                            <td><button type="button" class="btn btn-link" >Take book</button></td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>