<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header :: header}" th:with="pageTitle='Available books'"></div>
<body>
    <div th:insert="~{navigation :: navbar}"></div>
    <h2>Available books</h2>
    <div class="container">
        <form method="get" th:href="@{/books}">
            <select id="currency" name="sort" class="form-select" style="width: min-content">
                <option th:each="column : ${columnNames}" th:value="${column}" th:text="${column}"></option>
            </select>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>
        <table class="table table-group-divider">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Publication_Year</th>
                <th scope="col">Take Book</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${freeBooks}">
                    <td th:text="${book.bookId}">Id</td>
                    <td th:text="${book.title}">Title</td>
                    <td th:text="${book.author.authorName}">Author</td>
                    <td th:text="${book.genre}">Genre</td>
                    <td th:text="${book.publicationYear}">Publication_Year</td>
                    <td>
                        <form id="takeBook" th:method="post" th:action="@{/reports}">
                            <input type="hidden" th:name="bookId" th:value="${book.bookId}">
                            <button type="submit" class="btn btn-link" >Take book</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:each=" i : ${#numbers.sequence(beginIndex,endIndex)}">
                    <a class="page-link" th:href="@{/books(page=${i}, sort=${session.sort})}" th:text="${i}"></a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>