<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header :: header}"></div>
<body>
    <div th:insert="~{navigation :: navbar}"></div>
    <div class="container" style="margin-top: 15px">
        <div class="row text-lg-start">
            <h2><span class="badge rounded-pill text-bg-secondary">Please put your data for enrollment in library system</span></h2>
        </div>
        <form method="post" class="row g-3" th:action="@{/students}">
            <div class="col-3">
                <label for="studentName" class="form-label">Student Name</label>
                <input type="text" class="form-control" id="studentName" placeholder="Vasya Pupkin" th:name="studentName">
            </div>

            <div class="col-3">
                <label for="studentMajor" class="form-label">Major</label>
                <input type="text" class="form-control" id="studentMajor" placeholder="Computer Science" th:name="studentMajor">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" value="Add student" >Sign in</button>
            </div>
        </form>
    </div>
</body>
</html>