<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header :: header}"></div>
<body>
    <div th:insert="~{navigation :: navbar}"></div>
    <div class="container">
        <table class="table table-border">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Major</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.studentId}">Id</td>
                <td th:text="${student.studentName}">Name</td>
                <td th:text="${student.major}">Major</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>